<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="assets/css/style.css" >
</head>
<body>

  <header>
    
    
<nav>
  <ul>
    <li>Learning Python</li>
    <li><a href="../iFrames/lessons/L00-python.html" target="lessonFrame">Introduction</a></li>
    <li><a href="../iFrames/lessons/L01-python.html" target="lessonFrame">Lesson 1</a></li>
    <li><a href="../iFrames/lessons/L02-python.html" target="lessonFrame">Lesson 2</a></li>
    <li><a href="../iFrames/lessons/L03-python.html" target="lessonFrame">Lesson 3</a></li>
    <li><a href="../iFrames/lessons/L04-python.html" target="lessonFrame">Lesson 4</a></li>
    <li><a href="../iFrames/lessons/L05-python.html" target="lessonFrame">Lesson 5</a></li>
    <li><a href="../iFrames/lessons/L06-python.html" target="lessonFrame">Lesson 6</a></li>
 </ul>
</nav>
</header>


<main>
  <div id="lesson">
     <iframe name="lessonFrame" src="../iFrames/lessons/L00-python.html" title="Lessons"></iframe> 
    </div>
 </main>



<footer>  
  <p>(c) Copyright footer </p>
</footer>
</body>
</html>